<!-- <input type="text" ng-model='test'>
<ul>
  <li ng-repeat="x in menuCtrl.menuCategories | filter : test">
    {{ x }}
  </li>
</ul> -->
<div ng-repeat="employe in menuCtrl.menuCategories" class="grid-container">
  <div class="grid-item" ui-sref="public.menuitem">
    ID: {{menuCtrl.menuCategories.data[$index].id}}<br>
    FIRST NAME: {{menuCtrl.menuCategories.data[$index].first_name}}<br>
    LAST NAME: {{menuCtrl.menuCategories.data[$index].last_name}}<br>
    EMAIL: {{menuCtrl.menuCategories.data[$index].email}}
  </div>
  
</div>
